.accordion {

    .accordion-item {
        background: transparent;
        border: 3px solid $border-color-v1;
        border-radius: 16px;

        & + .accordion-item {
            margin-top: 20px;
        }
    }

    .accordion-button {
        @include font-format(22px);
        font-weight: $fw-bold;
        background: transparent;
        box-shadow: none;
        color: #fff;

        &:not(.collapsed) {
            background: transparent;
            box-shadow: none;

            .fa-solid {
                transform: rotate(-45deg);
            }
        }

        &:after {
            content: none;
        }

        .fa-solid {
            @include transition-standard;
            background-color: $brand-primary;
            color: $fill-dark-v1;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(45deg);
        }
    }

    .accordion-body {
        color: $body-color;
    }
}