.customized-images {

  .shapes2 {

    img {
      border-radius: 0px 80px 80px 80px;
      object-fit: cover;
      border: 1px solid #fbff2963;

      @include media-breakpoint-up(lg) {
        border-radius: 150px 0px 150px 150px;
        aspect-ratio: auto;
      }
    }
  }

  .image-wrapper {

    &.shapes {
      position: relative;
      margin-bottom: 5%;

      img {
        border: 1px solid #fbff2963;
        border-radius: 80px 80px 0px 80px;
        object-fit: cover;

        @include media-breakpoint-up(lg) {
          border-radius: 150px 0 150px 150px;
        }
      }

      &:before {
        content: "";
        width: 47px;
        height: 108px;
        border-radius: 10000px;
        border-bottom-left-radius: 0;
        display: none;
        position: absolute;
        left: 0;
        top: -80px;
        background-color: $brand-primary;

        @include media-breakpoint-up(lg) {
          left: calc(100% + 20px);
          display: block;
        }
      }

      &:after {
        content: "";
        width: 69px;
        height: 158px;
        border-radius: 10000px;
        border-top-right-radius: 0;
        display: none;
        position: absolute;
        right: 0;
        top: calc(100% - 30px);
        background-color: $brand-primary;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
    }

    img {
      width: 100%;
    }
  }
}
