.team {

    h2 {
        margin-bottom: 50px;
    }

    .card-thumbnail {
        margin-bottom: 15px;
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid $border-color-v1;

        img {
            @include transition-standard;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

     h5 {
        @include transition-standard;
        margin-bottom: 5px;
     }

    .single {
        @include transition-standard;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 35px 25px;
        border-radius: 16px;
        background-color: $fill-dark-v2;
        height: 100%;

        p {
            margin-bottom: 0;
        }

        &:hover {
            transform: translateY(-10px);

            .card-thumbnail {

                img {
                    transform: scale(1.05);
                }
            }

            h5 {
                color: $brand-primary;
            }
        }
    }
}
.seo-services-team{
    h2{
        span{
            display: block;
        }
    }
    .single{
        background: transparent;
        h5{
            color: #fbff29;
        }
    }
}