.home-hero {
    position: relative;
    
    .inner {
        min-height: calc(100vh - 102px);
        padding: 50px 0;
    }

    .hero-description {
        @include font-format(16px);
        margin-bottom: 30px;

        @include media-breakpoint-up(xl) {
            @include font-format(18px);
        }
    }

    .animate-border:has(.hero-form) {
        width: 100%;

        @include media-breakpoint-up(lg) {
            max-width: 384px;
            margin-left: auto;
        }
    }

    .hero-form {
        padding: 24px 15px;

        @include media-breakpoint-up(md) {
            padding: 24px 30px;
        }
        
        .hero-form-title {
            margin-bottom: 0;
        }

        .gform-theme--framework .gform_validation_errors {
            display: none !important;
        }

        .gform_button {
            width: 100% !important;
        }
    }
    .hero-text{
        .hero-cta-btns{
            a{
                @media (min-width: 768px) and (max-width: 1070px) {
                    font-size: 15px;
                }
                
            }
        }

    }
}

section.home-hero{
    &.seo-hero-section {

        div#particles-js {
            display: none;
        }
        .inner.d-flex {
            .row{
                row-gap: 5rem;
            }
            z-index: 1;
            position: relative;
            display: block !important;
            h1{
                text-transform: capitalize;
                margin-bottom: 10px;
                span{
                    display: block ;
                }
            }
            .seo-video {
                a  {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: max-content;
                   
                    @include media-breakpoint-down(lg) {
                        width: 100%;
                    }
                    .seo-video-thumbnail{
                        @include media-breakpoint-down(lg) {
                            width: 100%;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: -3%;
                        left: 1px;
                        width: 99.8%;
                        height: 20%;
                        background: #fbff29;
                        z-index: -1;
                        border-radius: 20px;
                    }
                    .seo-video-thumbnail {
                        border-radius: 10px;
                    }
                    .play-btn-seo {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            }
            .gform_button{
                border-radius: 15px !important;
            }
            select#input_4_3 {
               
                color: #ffffff87;
                border-radius: 10px;
                font-size: 14px !important;
                background: rgba(249, 246, 224, 0.08) !important;
                box-shadow: none !important;
                border-color: rgba(255, 255, 255, 0.28) !important;
               
                min-height: 42px !important;
                option{
                   background-color: #2b2a29;
                }
            }
            
        }
        .modal-content{
            width: 50%;
            margin: 0 auto;
        }
    }
}
.wp-block-post-excerpt{
    // margin: 0 auto;
    // max-width: 1320px;
    // --bs-gutter-x: 1.5rem;
    // --bs-gutter-y: 0;
    // padding-right: calc(var(--bs-gutter-x)* .5);
    // padding-left: calc(var(--bs-gutter-x)* .5);
    // a.wp-block-post-excerpt__more-link {
    //     color: #fbff29 !important;
    // }
    // @include media-breakpoint-down(xl) {
    //     max-width: 1140px;
    // }
    // @include media-breakpoint-down(lg) {
    //     max-width: 720px;
    // }
}